---
import Link from '../../components/astro/Link.astro'
import { links } from '../../data/links.js'

const { processing, mutualAid, volunteering, workshops, mentoring } = links
---

<section id="about">
  <h2>About</h2>
  <article>
    <p>
      Since being introduced to
      <Link {...processing} />
      in 2016, I've ventured into using code as my medium to engage myself and others in exploration, expression, and meaningful
      learning experiences.
      <p>
        My connection to the people in my communities and the places I live drive every aspect of my work, from personal
        and collaborative projects in open-source to
        <Link {...mutualAid} />,
        <Link {...volunteering} />,
        <Link {...workshops} />, and
        <Link {...mentoring} />. Read on to learn more.
      </p>
    </p>
  </article>
</section>
