<address>
  <a href="mailto:jlaurent.pdx@gmail.com" target="_blank" rel="noopener" aria-label="Jordan via email">
    <slot class="icon">jlaurent.pdx@gmail.com</slot>
  </a>
</address>

<style>
  .icon {
    text-decoration: underline none;
  }
  address {
    display: inline;
  }
</style>
