<address>
  <a href="mailto:jlaurent.pdx@gmail.com" target="_blank" rel="noopener" aria-label="Send Jordan an email">
    <slot class="icon">jlaurent.pdx@gmail.com</slot>
  </a>
</address>

<style>
  address {
    display: inline;
    font-style: normal;
  }
</style>
