<address>
  <a href="mailto:jlaurent.pdx@gmail.com" target="_blank" rel="noopener" aria-label="Jordan via email">
    <slot>jlaurent.pdx@gmail.com</slot>
  </a>
</address>

<style>
  address {
    display: inline;
  }
</style>
