---
import LinkNewTab from './LinkNewTab.astro'
import Email from './Email.astro'
import { Icon } from 'astro-icon'
import { contactLinks } from '../../data/contactLinks'

const { linkedIn, github } = contactLinks
---

<footer>
  <p>Built and designed by <br />Jordan Laurent in Portland, OR</p>
  <div class="contacts-container">
    <LinkNewTab link={github.link}>
      <Icon name="ion:logo-github" aria-label={github.label} />
    </LinkNewTab>

    <LinkNewTab link={linkedIn.link}>
      <Icon name="ion:logo-linkedin" aria-label={linkedIn.label} />
    </LinkNewTab>

    <Email>
      <Icon name="ion:mail" />
    </Email>
  </div>
</footer>

<style>
  [astro-icon] {
    width: 2rem;
    color: var(--dark);
  }

  .contacts-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    font-size: 0;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 2rem 0;
    text-align: center;
  }

  footer p {
    display: block;
    width: 80%;
    margin: 0;
    padding-top: 2rem;
    color: var(--mid);
    line-height: 1.5;
    border-top-color: var(--mid);
    border-top-style: solid;
    border-top-width: 1px;
  }

  @media (prefers-color-scheme: dark) {
    [astro-icon] {
      color: var(--light);
    }
  }

  @media screen and (min-width: 600px) {
    footer {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-align: left;
    }

    footer p {
      width: 30%;
      padding-top: 0;
      border-top-width: 0px;
    }
  }
</style>
