---
import LinkNewTab from './LinkNewTab.astro'
import Email from './Email.astro'
import { Icon } from 'astro-icon'
import { contactLinks } from '../../data/contactLinks'

const { linkedIn, github } = contactLinks
---

<footer>
  <p>Built and designed by<br />Jordan Laurent in Portland, OR</p>
  <div class="contacts-container">
    <LinkNewTab link={github.link}>
      <Icon name="ion:logo-github" aria-label={github.label} />
    </LinkNewTab>

    <LinkNewTab link={linkedIn.link}>
      <Icon name="ion:logo-linkedin" aria-label={linkedIn.label} />
    </LinkNewTab>

    <Email>
      <Icon name="ion:mail" />
    </Email>
  </div>
</footer>

<style>
  [astro-icon] {
    width: 2rem;
    color: var(--dark);
    text-decoration: none;
  }

  .contacts-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 50%;
    font-size: 0;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0;
    color: var(--mid);
  }

  footer p {
    display: block;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
  }

  @media (prefers-color-scheme: dark) {
    [astro-icon] {
      color: var(--light);
    }
  }
</style>
