---
import Link from './LinkNewTab.astro'
import Email from './Email.astro'
import { Icon } from 'astro-icon'
import { contactLinks } from '../../data/contactLinks'

const { linkedIn, github } = contactLinks
---

<footer>
  <div class="container">
    <p>Built and designed by<br />Jordan Laurent in Portland, OR</p>
    <div class="contacts-container">
      <Link link={github.link}>
        <Icon name="ion:logo-github" />
      </Link>

      <Link link={linkedIn.link}>
        <Icon name="ion:logo-linkedin" />
      </Link>

      <Email>
        <Icon name="ion:mail" />
      </Email>
    </div>
  </div>
</footer>

<style>
  [astro-icon] {
    color: var(--dark);
    width: 2rem;
    text-decoration: none;
  }

  .contacts-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 50%;
    font-size: 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;
    color: var(--mid);
  }

  .container p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
  }

  footer {
    padding-top: 1rem;
  }

  p {
    display: block;
  }

  a {
    text-decoration: none;
    text-underline-offset: 0;
  }

  @media (prefers-color-scheme: dark) {
    [astro-icon] {
      color: var(--light);
    }
  }
</style>
