---
import Navigation from './Navigation.astro'
const logo = 'logo_white_bg.svg'
---

<header>
  <nav>
    <a href="/">
      <img src={logo} alt="Go to homepage" />
    </a>
    <Navigation />
  </nav>
</header>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  img {
    width: 64px;
  }
</style>
