---
import Navigation from './Navigation.astro'
import { Icon } from 'astro-icon'
---

<header>
  <nav>
    <a href="/">
      <Icon name="logo" />
    </a>
    <Navigation />
  </nav>
</header>

<style>
  [astro-icon] {
    width: 96px;
    fill: var(--dark);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (prefers-color-scheme: dark) {
    [astro-icon] {
      fill: var(--light);
    }
  }
</style>
