---
import Navigation from './Navigation.astro'
import { Icon } from 'astro-icon'
---

<header>
  <nav>
    <a href="/">
      <Icon name="logo" aria-label="Go to homepage" />
      <span class="link-text">Homepage</span>
    </a>
    <Navigation />
  </nav>
</header>

<style>
  @keyframes sawtooth_draw {
    0% {
      fill: inherit;
      stroke: inherit;
      stroke-dashoffset: 0;
    }
    50% {
      fill: transparent;
    }
    100% {
      fill: inherit;
      stroke: inherit;
      stroke-dashoffset: 0;
    }
  }

  [astro-icon] {
    width: 6rem;
    padding: 0.5rem;

    fill: var(--dark);
    stroke: var(--dark);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 20px;
  }

  a:hover > .link-text,
  a:focus > .link-text,
  a:active > .link-text {
    visibility: visible;
  }

  a:hover > [astro-icon],
  a:focus > [astro-icon],
  a:active > [astro-icon] {
    .base {
      transition: stroke 100ms ease-in-out;
      stroke: transparent;
    }

    .left-fill,
    .right-fill {
      fill: transparent;
      stroke: transparent;
      animation-name: sawtooth_draw;
      animation-iteration-count: infinite;
      animation-duration: 2000ms;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
    }

    .left-fill {
      stroke-dasharray: 880 882;
      stroke-dashoffset: 881;

      animation-delay: 0ms;
    }

    .right-fill {
      stroke-dasharray: 553 555;
      stroke-dashoffset: 554;

      animation-delay: 200ms;
    }
  }

  .link-text {
    display: block;
    visibility: hidden;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 600px) {
    [astro-icon] {
      width: 8rem;
    }
  }

  @media (prefers-color-scheme: dark) {
    [astro-icon] {
      fill: var(--light);
      stroke: var(--light);
    }
  }
</style>
