---
const { link, text } = Astro.props
---

<a href={link} target="_blank" rel="noopener">
  <slot class="icon">
    {text}
  </slot>
</a>

<style>
  .icon {
    text-decoration: underline none;
  }
</style>
