<div class="nav-links">
  <a href="/projects">Projects</a>
  <a href="/media">Media</a>
  <a href="/contact">Contact</a>
</div>

<style>
  .nav-links {
    display: block;
    width: auto;
    margin-left: 1rem;
    position: static;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    background-color: var(--dark);
    color: var(--light);
    outline: none;
    border-radius: 5px;
    transition: background ease-out 200ms;
  }

  @media (prefers-color-scheme: dark) {
    .nav-links a:hover,
    .nav-links a:focus {
      background-color: var(--light);
      color: var(--dark);
    }
  }
</style>
