---
---

<div class="nav-links">
  <a href="/work">Work</a>
  <a href="/projects">Projects</a>
  <a href="/media">Media</a>
  <a href="/contact">Contact</a>
</div>

<style>
  .nav-links {
    margin-left: 1rem;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: var(--dark);
  }

  .nav-links a:hover,
  a:focus {
    background-color: var(--dark);
    border-radius: 5px;
    color: var(--light);
  }
</style>
