:root {
  --dark: hsl(0, 0%, 20%);
  --light: hsl(0, 0%, 99%);
  --light-gradient: linear-gradient(
    90deg,
    hsl(216deg 24% 96%) 0%,
    hsl(216deg 24% 97%) 2%,
    hsl(216deg 24% 98%) 5%,
    hsl(216deg 24% 99%) 8%,
    hsl(300deg 100% 100%) 13%,
    hsl(300deg 100% 100%) 19%,
    hsl(300deg 100% 100%) 30%,
    hsl(0deg 0% 100%) 53%,
    hsl(300deg 100% 100%) 76%,
    hsl(300deg 100% 100%) 85%,
    hsl(300deg 100% 100%) 91%,
    hsl(216deg 24% 99%) 94%,
    hsl(216deg 24% 98%) 97%,
    hsl(216deg 24% 97%) 99%,
    hsl(216deg 24% 96%) 100%
  );
  --dark-gradient: linear-gradient(
    15deg,
    hsl(221deg 100% 9%) 8%,
    hsl(221deg 79% 10%) 36%,
    hsl(224deg 63% 12%) 49%,
    hsl(227deg 50% 14%) 59%,
    hsl(231deg 41% 16%) 68%,
    hsl(235deg 35% 17%) 75%,
    hsl(238deg 30% 19%) 81%,
    hsl(242deg 27% 20%) 87%,
    hsl(246deg 25% 22%) 93%,
    hsl(249deg 23% 23%) 99%
  );
}

html {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-image: var(--light-gradient);
  color: var(--dark);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}

@media (prefers-color-scheme: dark) {
  html {
    background-image: var(--dark-gradient);
    background-size: cover;
    color: var(--light);
  }
}
