---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
---

<DefaultLayout>
  <section id="contact" class="contact__section">
    <h1>Contact</h1>
    <h2>Let's keep in touch</h2>

    <article class="contact__description">
      You can reach me on
      <a href="https://www.linkedin.com/in/jlaurentpdx/" target="_blank" rel="noopener">LinkedIn</a>, check out my
      open-source projects and contributions on
      <a href="https://github.com/jlaurentpdx" target="_blank" rel="noopener">GitHub</a>, or email me any time at
      <address>
        <a href="mailto:jlaurent.pdx@gmail.com" target="_blank" rel="noopener">jlaurent.pdx@gmail.com</a>.
      </address>
    </article>
  </section>
</DefaultLayout>
