---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import Link from '../../components/astro/LinkNewTab.astro'
import Email from '../../components/astro/Email.astro'
import { contactLinks } from '../../data/contactLinks'

const { linkedIn, github } = contactLinks
---

<DefaultLayout includeHeading subtitle="Contact">
  <section id="contact" class="contact__section">
    <article class="contact__description">
      You can reach me on
      <Link {...linkedIn} />, check out my open-source projects and contributions on
      <Link {...github} />, or email me any time at
      <Email />.
    </article>
  </section>
</DefaultLayout>
