---
import Layout from '../../layouts/Layout.astro'
import LinkNewTab from '../../components/astro/LinkNewTab.astro'
import Email from '../../components/astro/Email.astro'
import { contactLinks } from '../../data/contactLinks'

const { linkedIn, github } = contactLinks
---

<Layout includeHeading subtitle="Contact">
  <section id="contact">
    <article>
      You can reach me on
      <LinkNewTab {...linkedIn} />, check out my open-source projects and contributions on
      <LinkNewTab {...github} />, or email me any time at
      <Email />.
    </article>
  </section>
</Layout>
