---
import Layout from '../../layouts/Layout.astro'
import LinkNewTab from '../../components/astro/LinkNewTab.astro'
import Email from '../../components/astro/Email.astro'
import { contactLinks } from '../../data/contactLinks'

const { github } = contactLinks
---

<Layout includeHeading subtitle="Contact">
  <section id="contact">
    <article>
      You can find me on the web at <LinkNewTab {...github} /> or reach me by email me at
      <Email>jlaurent.pdx@gmail.com</Email>.
    </article>
  </section>
</Layout>
