---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout>
  <h1>Uh-oh.</h1>
  <p>Looks like a bad link. Let's go back <a href="/">home.</a></p>
</DefaultLayout>

<style>
  h1 {
    font-family: 'Rokkitt', serif;
    font-weight: 400;
    font-size: 4rem;
  }
</style>
