---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout>
  <h1>Howdy.<br /> I'm Jordan</h1>
  <p>
    — a full-stack <strong>software developer</strong>, <strong>multimedia artist</strong>, and <strong>educator</strong
    > in Portland, Oregon making people-first, user-friendly tools and technology with an emphasis on design, inclusivity,
    and accessibility.
  </p>
  <hr />
  <section id="about">
    <article>
      <p>
        Since being introduced to
        <a href="https://openprocessing.org/browse/#" target="_blank" rel="noopener">creative coding</a>
        in 2016, I've ventured into using code as my medium to engage myself and others in exploration, expression, and meaningful
        learning experiences.
      </p>
      <p>
        My connection to the people in my communities and the places I live drive every aspect of my work, from personal
        and collaborative projects in open-source to
        <a href="https://www.instagram.com/crisiskitchenpdx/" target="_blank" rel="noopener">mutual aid</a>,
        <a href="https://rahabs-sisters.org/" target="_blank" rel="noopener">volunteering</a>,
        <a href="https://www.instagram.com/p/CCcdmKXhMnT/" target="_blank" rel="noopener">workshops</a>, and
        <a href="https://francescafr.github.io/PCC2018/2018/" target="_blank" rel="noopener">mentoring</a>. Read on to
        learn more.
      </p>
    </article>
  </section>
</DefaultLayout>
