---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout>
  <h1>Howdy.<br /> I'm Jordan</h1>
  <main>
    <p>
      — a full-stack <strong>software developer</strong>, <strong>multimedia artist</strong>, and <strong
        >educator</strong
      > in Portland, Oregon making people-first, user-friendly tools and technology with an emphasis on design, inclusivity,
      and accessibility.
    </p>
  </main>
</DefaultLayout>
