---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="gradient-container">
    <h1 class="intro">
      <span class="heading-greeting">Howdy.</span> I'm
      <span class="heading-name">Jordan</span>
    </h1>
    <p>
      — a full-stack
      <span class="role">software developer</span>,
      <span class="role">multimedia artist</span>, and
      <span class="role">educator</span>
      in Portland, Oregon making people-first, user-friendly tools and technology with an emphasis on design, inclusivity,
      and accessibility.
    </p>
  </div>
</Layout>

<style>
  @keyframes gradient {
    0% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .gradient-container {
    background: linear-gradient(320deg, hsl(218, 65%, 57%), hsl(337, 78%, 57%), hsl(14, 96%, 71%), hsl(56, 72%, 49%));
    background-size: 300% 200%;
    background-clip: text;
    animation: gradient 20s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--dark);
  }

  .heading-greeting {
    display: block;
  }

  .heading-name,
  .role {
    -webkit-text-fill-color: transparent;
  }

  @media screen and (min-width: 600px) {
    .intro {
      font-size: 8rem;
    }

    .heading-name,
    .role {
      font-weight: 800;
    }
  }

  @media (prefers-color-scheme: dark) {
    .gradient-container {
      -webkit-text-fill-color: var(--light);
    }
  }
</style>
