---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="gradient-container">
    <h1 class="intro">
      Howdy.<br /> I'm
      <span class="heading-name">Jordan</span>
    </h1>
    <p>
      — a full-stack
      <span class="role">software developer</span>,
      <span class="role">multimedia artist</span>, and
      <span class="role">educator</span>
      in Portland, Oregon making people-first, user-friendly tools and technology with an emphasis on design, inclusivity,
      and accessibility.
    </p>
  </div>
</Layout>

<style>
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .gradient-container {
    background: linear-gradient(300deg, hsl(14, 82%, 63%), hsl(337, 78%, 57%), hsl(168, 72%, 49%), hsl(218, 65%, 57%));
    background-size: 400% 400%;
    background-clip: text;
    animation: gradient 30s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--dark);
  }

  .heading-name,
  .role {
    font-weight: 800;
    -webkit-text-fill-color: transparent;
  }

  .intro {
    font-size: 8rem;
  }

  @media (prefers-color-scheme: dark) {
    .gradient-container {
      -webkit-text-fill-color: var(--light);
    }
  }

  @media only screen and (max-width: 800px) {
    .intro {
      font-size: 6rem;
    }
  }
</style>
