---
import Layout from '../../layouts/Layout.astro'
import Project from '../../components/astro/Project.astro'
import { projects } from '../../data/projects'
import { techStack } from '../../data/techStack'
---

<Layout includeHeading subtitle="Projects">
  <section id="projects">
    <article>
      <p>
        Built with languages, libraries, and frameworks including {
          techStack.map((item, index) =>
            index < techStack.length - 1 ? (
              <>
                <span class="tech-stack">{item}</span>,{' '}
              </>
            ) : (
              <>
                and <span class="tech-stack">{item}</span>,{' '}
              </>
            )
          )
        }
        the applications on display here highlight just a few of the open-source works I've been a part of developing, deploying,
        and contributing to.
      </p>
    </article>
  </section>
  <ul id="projects-list">{projects.map((project) => <Project {...project} />)}</ul>
</Layout>

<style>
  .tech-stack {
    font-style: italic;
  }

  ul {
    margin: 0;
    padding: 1rem 0;
  }
</style>
