---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import Project from '../../components/astro/Project.astro'
import { projects } from '../../data/projects'
import { techStack } from '../../data/techStack'
---

<DefaultLayout>
  <section id="projects">
    <h1>Projects</h1>
    <article>
      <p>
        Built with languages, libraries, and frameworks including {
          techStack.map((item) => <span class="tech-stack">{item}, </span>)
        }
        the applications on display here highlight just a few of the open-source works I've been a part of developing, deploying,
        and contributing to.
      </p>
      <p>
        More info on each app can be found by tapping on the slides below, or you can check them out for yourself by
        following the links provided to the
        <a href="https://github.com/jlaurentpdx" target="_blank" rel="noopener">frontend repos on GitHub</a>
        and live deploys hosted on Netlify.
      </p>
    </article>
  </section>
  {projects.map((project) => <Project {...project} />)}
</DefaultLayout>

<style>
  .tech-stack {
    font-weight: 600;
  }
</style>
