---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
---

<DefaultLayout>
  <section id="projects">
    <h1>Projects</h1>
    <article>
      <p>
        Built with languages, libraries, and frameworks including
        <span class="tech-stack">React</span>,
        <span class="tech-stack">ES6</span>,
        <span class="tech-stack">Express</span>,
        <span class="tech-stack">Node</span>,
        <span class="tech-stack">PostgreSQL</span>,
        <span class="tech-stack">Supabase</span>,
        <span class="tech-stack">Tone.js</span>, and
        <span class="tech-stack">Mapbox</span>, the applications on display here highlight just a few of the open-source
        works I've been a part of developing, deploying, and contributing to.
      </p>
      <p>
        More info on each app can be found by tapping on the slides below, or you can check them out for yourself by
        following the links provided to the
        <a href="https://github.com/jlaurentpdx" target="_blank" rel="noopener">frontend repos on GitHub</a>
        and live deploys hosted on Netlify.
      </p>
    </article>
  </section>
</DefaultLayout>

<style>
  .tech-stack {
    font-weight: 600;
  }
</style>
