---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import Work from '../../components/astro/Work.astro'
import { works } from '../../data/works'
---

<DefaultLayout includeHeading subtitle="My Work">
  <section>
    <article>
      <p>
        From musicianship and audio programming to microelectronics and
        <a href="https://jlaurentpdx.itch.io/" target="_blank" rel="noopener">video game development</a>, I've taken on
        roles across disciplines to create, learn, and share my knowledge with students and learners everywhere. Below,
        you can explore links and information about the courses and workshops I've taught locally in Portland and
        remotely to students across the US, as well as multimedia installations I've collaborated on.
      </p>
    </article>
  </section>
  {works.map((work) => <Work {...work} />)}
</DefaultLayout>
