---
import Layout from '../../layouts/Layout.astro'
import LinkNewTab from '../../components/astro/LinkNewTab.astro'
import { mediaLinks } from '../../data/mediaLinks'

const { collabLab, techTalk } = mediaLinks
---

<Layout includeHeading subtitle="Media">
  <section id="media">
    <article>
      <p>
        My experience as an artist continues to develop with my work on the web. If you're interested in learning about
        my winding path from music and education to code, I gave a
        <LinkNewTab {...techTalk}>2022 tech talk</LinkNewTab> on how making music led me to pursue a future in code in collaboration
        with
        <LinkNewTab {...collabLab} />, which you can view below.
      </p>
      <figure>
        <iframe
          src="https://www.youtube-nocookie.com/embed/u76CKtRjgq0"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </figure>
    </article>
  </section>
</Layout>

<style>
  figure {
    margin: 2rem;
    text-align: center;
  }
  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
</style>
